@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.app {
  background-color: rgb(32, 167, 212);
  width: 100%;
  height: 100%;
}

.currency {
  color: yellow;
  display: inline;
  font-family: 'Press Start 2P'
}

.header {
  color: yellow;
  text-shadow: 3px 0 blue
}

.inventory {
  color: blue;
  display: inline;
  font-family: 'Press Start 2P';
}

div.login {
  display: none;
}

div.login:hover {
  display: block;
  float:right;
}

.navigate {
  float: right;
  padding-right: 20px;
}

.pokebuttons {
  text-align: center;
}

.pokeinfo {
  border: 1px solid black;
  padding: 10px;
  margin: 25px;
}

.pokemon-boxes {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

.popup {
  background-color: rgba(32, 167, 212);
  border: 1px solid black;
  bottom: 0;
  height: 50%;
  left: 0;
  margin: auto;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 50%;

}

.popup-outside {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

#desc {
  font-style: italic;
}

#name {
  color: rgb(36, 35, 35);
  font-size: 48px;
  text-align: center;
}

#pkmnid {
  font-style: bold;
}

button {
  border-radius: 10px;
  margin: 0 auto;
  padding: 12px 24px;
  text-align: center;
}

button:hover {
  border: solid lightblue;
  color: white;
  background-color: rgb(32, 167, 212);
}

img {
  display: block;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  width: 200px;
}