.app {
  background-color: rgb(32, 167, 212);
}

.header {
  color: yellow;
  text-shadow: 3px 0 blue
}

.pokemon-boxes {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

.pokeinfo {
  border: 1px solid black;
  padding: 100px;
}