.app {
  background-color: rgb(32, 167, 212);
}

.header {
  color: yellow;
  text-shadow: 3px 0 blue
}

div.login {
  display: none;
}

div.login:hover {
  display: block;
  float:right;
}

.navigate {
  float: right;
  padding-right: 20px;
}

.pokebuttons {
  text-align: center;
}

.pokeinfo {
  border: 1px solid black;
  padding: 10px;
  margin: 25px;
}

.pokemon-boxes {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

#desc {
  font-style: italic;
}

#name {
  color: rgb(36, 35, 35);
  font-size: 48px;
  text-align: center;
}

#pkmnid {
  font-style: bold;
}

button {
  border-radius: 10px;
  margin: 0 auto;
  padding: 12px 24px;
  text-align: center;
}

button:hover {
  border: solid lightblue;
  color: white;
  background-color: rgb(32, 167, 212);
}

img {
  display: block;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  width: 200px;
}